
1) Pro Firsttypus nur ein Pokemon im Team 
2) Permadeath (ach nach beenden der Route) 
3) Nur das erste Pokemon das gesehen wird ist fangbar 
4) keine flucht vor Wilden pokemon 
5) Route darf nur zufuß verlassen werde !
6) keine Items verwenden 
7) keine Items im Kampf 
8) Pokecenterverbot ! 
9) Ep-Teiler verbot
10) keine Tragbaren Items 
11) nächstzer Arenakampf ohne Gehaltene Items !!!
12) keine Z-atacken oder Mega beim Arenakampf
13) Theam-Teams 
14) Lauchteam (maximalgewicht von ???kg)

